.cesium-credit-logoContainer img {
  position: absolute;
  left: 6px;
  bottom: 6px;
  width: 100px;
  height: 20px;
}
.cesium-credit-textContainer {
  display: none;
  opacity: 0;
}
.cesium-credit-expand-link {
  display: none;
  opacity: 0;
}